body {
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 400px;
    height: 450px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    overflow: hidden;
    background: linear-gradient(0deg, transparent, blue, blue);
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    overflow: hidden;
    background: linear-gradient(0deg, transparent, cyan, cyan);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 10px;
    background: #262528;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    color: cyan;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

.input {
    position: relative;
    width: 300px;
    margin-top: 20px;
}

.input input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    z-index: 10;
}

.input span {
    position: absolute;
    left: 0;
    bottom: 5px;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
}

.input input:valid~span,
.input input:focus~span {
    color: cyan;
    transform:  translateY(-30px);
    font-size: 0.85rem;
    letter-spacing: 0.2rem;
}

.input i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: cyan;
    border-radius: 4px;
    transition: 0.4s;
    pointer-events: none;
    z-index: 9;
}

.input input:valid~i,
.input input:focus~i {
    height: 40px;
}
.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    margin: 10px 0 ;
    font-size: 0.85em;
    color: gray;
}

.links a:hover,
.links a:nth-child(2){
    color: cyan;
}

button[type="submit"]{
    border: none;
    outline: none;
    background : cyan;
    padding: 15px 30px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
